@font-face{
    font-family: 'Roboto', sans-serif;
    src:url(assets/Roboto-Black.ttf)
}

@font-face{
    font-family: 'Roboto', sans-serif,bold;
    src:url(assets/Roboto-Black.ttf)
}

body{
    text-align: center;
    font-size: 15px;
    padding: 2.5%;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5{
    font-family: 'Roboto', sans-serif,bold;
}

.profile{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
